<nav id="sidebar"  class="bg-secondary text-light p-3 mt-0 vh-100 bg-opacity-50" style="width: 220px;">
    <h5> <i class="bi bi-tools"></i> Configuración</h5>
    <ul class="nav flex-column">

        <li class="nav-item"><a class="nav-link text-dark fw-semibold hover-effect" href="{{ path('app_user_crud_index') }}"> 
        <i class="bi bi-people-fill"></i> Users</a>
        </li>
    <h5> <i class="bi bi-vinyl-fill"></i> Vinilos</h5>

        <li class="nav-item"><a class="nav-link text-dark fw-semibold hover-effect" href="{{ path('app_product_crud_index') }}"> 
        <i class="bi bi-vinyl-fill"></i> Productos</a>
        </li>
        
        <li class="nav-item"><a class="nav-link text-dark fw-semibold hover-effect" href="{{ path('app_record_label_index') }}"> 
        <i class="bi bi-bookmark"></i> Sellos</a>
        </li>
        
        <li class="nav-item"><a class="nav-link text-dark fw-semibold hover-effect" href="{{ path('app_artist_crud_index') }}"> 
        <i class="bi bi-person-arms-up"></i> Artistas</a>
        </li>
        
        <li class="nav-item"><a class="nav-link text-dark fw-semibold hover-effect" href="{{ path('app_product_product_tag_index') }}"> 
        <i class="bi bi-tags-fill"></i> Tags</a>
        </li>

    </ul>
</nav>
